<template>
  <div class="home">
    <el-contanier>
      <el-header style="text-align: right; font-size: 24px; background-color: rgb(238, 241, 246)">
        <el-button @click="onToHome()" icon="el-icon-s-home" circle></el-button>
      </el-header>
      <el-container>
        <el-aside width="200px">
          <el-menu v-for="item in menuItems" :key="item.key">
            <el-menu-item @click="onMenuSelected(item.path)" @index="item.path">{{item.label}}</el-menu-item>
          </el-menu>
        </el-aside>

        <el-main>
          <router-view />
        </el-main>
      </el-container>
    </el-contanier>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  data() {
    return {
      menuItems: [
        { key: "0", label: "登陆", path: "/login/intro" },
        { key: "1", label: "注册", path: "/register/intro" },
        { key: "2", label: "日历", path: "/calendar/intro" },
        { key: "3", label: "地区", path: "/area/intro" }
      ]
    };
  },
  methods: {
    onMenuSelected(path) {
      this.$router.push(path);
    },
    onToHome() {
      this.$router.push("/");
    }
  }
};
</script>
<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}
</style>
