<template>
  <div >
  </div>
</template>
<script>
export default {
  methods:{
    onSwitchPage(pageName){
      this.$router.push('/'+pageName);
    }
  },
  created(){
    window.onSwitchPage = this.onSwitchPage;
  }
}
</script>
