<template>
  <van-area @confirm="confirm" @cancel="cancel" :area-list="areaList" :value="value" />
</template>
<script>
import areaList from "../assets/area/area.js";
import Mix from "../views/Mix";
export default {
  mixins: [Mix],
  data() {
    return {
      value: "110101",
      areaList
    };
  },
  mounted() {
    window.onSetData = this.onSetData;
  },
  methods: {
    onSetData(data) {
      console.log(data);
      var json = JSON.parse(data);
      console.log(json);
      if (json.value != null) {
        this.value = json.value;
      }
    },
    confirm(areaData) {
      var data = JSON.stringify({
        code: 0,
        data: {
          area: areaData
        }
      });
      console.log(data);
      window.webtalk.onResponse(data);
    },
    cancel() {
      var data = JSON.stringify({
        code: 100,
        data: {
          message: "cancel"
        }
      });
      console.log(data);
      window.webtalk.onResponse(data);
    }
  }
};
</script>