<template>
  <div>
    <el-contanier>
      <el-aside>
        <Area />
      </el-aside>
      <el-main>
        <h1>This is an Area info page</h1>
      </el-main>
    </el-contanier>
  </div>
</template>
<script>
import Area from "../components/Area";
export default {
  components: {
    Area
  }
};
</script>
<style>
.el-aside {
  width: 480px;
  height: 500px;
  border: 1px solid #eee;
  float: left;
}
</style>
