<template>
  <div>
    <van-calendar
      :type="type"
      :color="color"
      :title="title"
      :poppable="false"
      @confirm="onConfirm"
      :style="{ height: '500px' }"
    />
  </div>
</template>
<script>
import Mix from "../views/Mix";
export default {
  mixins: [Mix],
  data() {
    return {
      type: "single",
      title: "日期选择",
      color: "#ee0a24"
    };
  },
  methods: {
    onSetData(data) {
      console.log(data);
      var json = JSON.parse(data);
      console.log(json);
      if (json.color != null) {
        this.color = json.color;
      }
      if (json.title != null) {
        this.title = json.title;
      }
      if (json.type != null) {
        this.type = json.type;
      }
    },
    onConfirm(date) {
      if (this.type == "single") {
        var data = JSON.stringify({
          code: 0,
          data: {
            year: date.getFullYear(),
            month: date.getMonth() + 1,
            day: date.getDate(),
            timestamp: date.getTime()
          }
        });
        window.webtalk.onResponse(data);
      } else {
        var restList = [];
        date.forEach(element => {
          restList.push({
            year: element.getFullYear(),
            month: element.getMonth() + 1,
            day: element.getDate(),
            timestamp: element.getTime()
          });
        });
        var listJson = JSON.stringify({
          code: 0,
          data: {
            total: restList.length,
            list: restList
          }
        });
        window.webtalk.onResponse(listJson);
      }
    }
  },
  mounted() {
    window.onSetData = this.onSetData;
  }
};
</script>