<template>
  <div>
    <el-contanier>
      <el-aside>
        <Login></Login>
      </el-aside>
      <el-main>
        <h1>This is an login info page</h1>
      </el-main>
    </el-contanier>
  </div>
</template>
<script>
import Login from "../components/Login";
export default {
  components: {
    Login
  }
};
</script>
<style>
.el-aside {
  width: 480px;
  height: 500px;
  border: 1px solid #eee;
  float: left;
}
</style>
