<template>
  <van-form @submit="onSubmit">
    <van-field
      v-model="account"
      name="用户名"
      label="用户名"
      clearable
      placeholder="用户名"
      :rules="[{ required: true, message: '请填写用户名' }]"
    />
    <van-field
      v-model="password"
      :type="password_type"
      clearable
      name="密码"
      label="密码"
      placeholder="密码"
      @click-right-icon="onRightClick()"
      :right-icon="password_icon"
      :rules="[{ required: true, message: '请填写密码' }]"
    />
    <div class="centerDiv">
      <van-button round block :color="submitBtnColor" type="info" native-type="submit">提交</van-button>
    </div>
  </van-form>
</template>
<script>
import Mix from "../views/Mix";
export default {
  mixins: [Mix],
  data() {
    return {
      right_click: false,
      password_icon: "closed-eye",
      password_type: "password",
      account: "",
      password: "",
      submitBtnColor: "#1AB84E"
    };
  },
  methods: {
    onSetData(data) {
      console.log(data);
      var json = JSON.parse(data);
      console.log(json);
      this.submitBtnColor = json.color;
    },
    onRightClick() {
      this.right_click = !this.right_click;
      if (this.right_click) {
        this.password_icon = "eye-o";
        this.password_type = "text";
      } else {
        this.password_icon = "closed-eye";
        this.password_type = "password";
      }
    },
    onSubmit() {
      var data = JSON.stringify({
        code: 0,
        data: {
          account: this.account,
          password: this.password
        }
      });
      console.log(data);
      window.webtalk.onResponse(data);
    }
  },
  mounted() {
    window.onSetData = this.onSetData;
  }
};
</script>
<style>
.centerDiv {
  margin: 16px;
}
</style>
