<template>
  <van-form @submit="onSubmit">
    <van-field
      v-model="account"
      name="用户名"
      label="用户名"
      clearable
      placeholder="用户名"
      :rules="[{ required: true, message: '请填写用户名' }]"
    />
    <van-field
      v-model="password"
      :type="password_type"
      clearable
      name="密码"
      label="密码"
      placeholder="密码"
      @click-right-icon="onRightClick(0)"
      :right-icon="password_icon"
      :rules="[{ required: true, message: '请填写密码' }]"
    />
    <van-field
      v-model="confirmPassword"
      :type="password_type_2"
      clearable
      name="密码"
      label="密码"
      placeholder="确认密码"
      @click-right-icon="onRightClick(1)"
      :right-icon="password_icon_2"
      :rules="[{ required: true, message: '请填确认密码' }]"
    />
    <van-field v-model="sms" center clearable label="验证码" placeholder="请输入短信验证码">
      <template #button>
        <van-button
          native-type="button"
          @click="setBtnInterval"
          size="small"
          type="primary"
          :disabled="smsBtnDisable()"
        >{{smsBtnString}}</van-button>
      </template>
    </van-field>
    <div class="centerDiv">
      <van-button round block :color="submitBtnColor" type="info" native-type="submit">提交</van-button>
    </div>
  </van-form>
</template>
<script>
import Mix from "../views/Mix";
export default {
  mixins: [Mix],
  data() {
    return {
      right_click: false,
      right_click_2: false,
      password_icon: "closed-eye",
      password_type: "password",
      password_icon_2: "closed-eye",
      password_type_2: "password",
      account: "",
      password: "",
      confirmPassword: "",
      submitBtnColor: "#1AB84E",
      sms: "",
      smsBtnString: "发送",
      time: 60,
      timer: 0
    };
  },
  methods: {
    changeSmsBtnString() {
      this.time--;
      console.log(
        "changeSmsBtnString  :" + this.smsBtnString + ", time:" + this.time
      );
      if (this.time > 0) {
        this.smsBtnString = "" + this.time;
      } else {
        this.smsBtnString = "发送";
        this.time = 60;
        clearInterval(this.timer);
      }
    },
    setBtnInterval() {
      this.changeSmsBtnString();
      this.timer = setInterval(this.changeSmsBtnString, 1000);
    },
    smsBtnDisable() {
      return this.smsBtnString != "发送";
    },
    onSetData(data) {
      console.log(data);
      var json = JSON.parse(data);
      console.log(json);
      this.submitBtnColor = json.color;
    },
    onRightClick(index) {
      if (index == 0) {
        this.right_click = !this.right_click;
        if (this.right_click) {
          this.password_icon = "eye-o";
          this.password_type = "text";
        } else {
          this.password_icon = "closed-eye";
          this.password_type = "password";
        }
      } else {
        this.right_click_2 = !this.right_click_2;
        if (this.right_click_2) {
          this.password_icon_2 = "eye-o";
          this.password_type_2 = "text";
        } else {
          this.password_icon_2 = "closed-eye";
          this.password_type_2 = "password";
        }
      }
    },
    onSubmit() {
      var data = JSON.stringify({
        code: 0,
        data: {
          account: this.account,
          password: this.password,
          confrimPassword: this.confirmPassword
        }
      });
      console.log(data);
      window.webtalk.onResponse(data);
    },
    onSmsSend() {
      var data = JSON.stringify({
        code: 101,
        data: {
          message: "发送短信验证码"
        }
      });
      console.log(data);
      window.webtalk.onResponse(data);
    }
  },
  mounted() {
    window.onSetData = this.onSetData;
  }
};
</script>
<style>
.centerDiv {
  margin: 16px;
}
</style>
