<template>
  <div>
    <h1>Web Talk 简介</h1>
    <p>随着5G的普及，移动网络的质变，移动端的Web应用或混合开发，即将迎来春天。</p>
    <p>本项目的目的就是通过js桥接APP和VUE页面，建立一个App和网页的交互。</p>
    <p>原生代码中，通过js注入类已及获取js挂在的方法，来和网页交互数据，</p>
    <p>同样的，VUE代码中则通过，调取注入类，挂载js方法来和原生代码交互。</p>
    <p>如果提前制定好规则，比如类名，方法名，数据结构等，各部门加强合作，抽象出一些通用模块。</p>
    <p>那么在开发的时候，比如说，用户协议，天气数据等界面，我们只需输入一段URL便可以开发完成，一方面加快了开发速度，另一方面减少了项目体积，岂不美哉。</p>
  </div>
</template>
